@*
BpInformation.cshtml

A view for showing a picture of blood pressure category infographic

Revision History
 	Created. Oct 4 2024. Daphne
*@

<div class="mt-3 text-center">
	<h1>Blood Pressure Category Information</h1>
	<img src="~/img/Blood-Pressure-Chart.webp" />
</div>
