@*
Delete.cshtml

A view for deleting a record

Revision History
 	Created. Sep 27 2024. Daphne
 	Revised. Oct 4 2024. Daphne
*@

@model DeleteBloodPressureViewModel

@{
	ViewData["Title"] = "Delete Blood Pressure";
}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (Model.CurrentBloodPressure != null)
{
	<form method="post" asp-action="DeleteBloodPressure">
		<input asp-for="CurrentBloodPressure.BPId" hidden />

		<div class="mb-3">
			<label class="form-label" asp-for="CurrentBloodPressure.Systolic"></label>
		 	<input readonly type="text" class="form-control" asp-for="CurrentBloodPressure.Systolic" />
		 </div>

		<div class="mb-3">
			<label class="form-label" asp-for="CurrentBloodPressure.Diastolic"></label>
			<input readonly type="text" class="form-control" asp-for="CurrentBloodPressure.Diastolic" />
		</div>

		<div class="mb-3">
			<h4>Confirm Deletion</h4>
			<h3>@Model.CurrentBloodPressure.Systolic/@Model.CurrentBloodPressure.Diastolic (taken on @DateTime.Now)</h3>
			<button class="btn btn-danger" type="submit">Delete</button>
			<a class="btn btn-secondary" asp-controller="BloodPressure" asp-action="AllBloodPressures" role="button">Cancel</a>
		</div>
	</form>
}
else
{
	<div class="text-warning">
		<p>No blood pressure measurement found with this Id.</p>
	</div>
}
