@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>
		<a class="btn btn-dark" asp-controller="BloodPressure" asp-action="AllBloodPressures">View all records</a>
		<a class="btn btn-dark" asp-controller="BloodPressure" asp-action="AddBloodPressure">Click to add new record</a>
	</p>
</div>

